.form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.input {
    flex-grow: 1;
  padding: 0.5em 0.25em;
  margin-bottom: 1em;
  color: rgba(4, 4, 80, 0.9);
}

.input::placeholder {
  padding-left: 0.25em;
}

.input:first-of-type {
  margin-right: 1em;
}

.button {
  width: 100%;
  padding: 0.5em;
  background-color: rgba(4, 4, 80, 0.3);
  border: 1px solid rgba(4, 4, 80, 0.5);
}
