@import "./fonts.css";

html {
  box-sizing: border-box;
}

body {
  font-family: PT Sans, sans-serif;
  background-color: rgb(255, 255, 255);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

​img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
  color: rgba(170, 10, 10, 0.9);
}

button:focus {
  outline: none;
}
